.nav-link {
	color: white;
}

.gradient {
	background-image: linear-gradient(to bottom right, #4ba2ff , white);
}

.resetButton {
	background-color: #F19837;
	color: white;
}

@media screen and (min-width: 576px) {
	.bikeCart{
		width: 75%;
	}
}
@media screen and (min-width: 767px) {
	.bikeCart{
		width: 50%;
	}
}

.btn-primary,
.sendButton{
	background-color: #007bff;
	color: white;
	border-color: #007bff;
}