.card {
	padding:5px;
	margin:5px;
}

.resetButton {
	background-color: #F19837
}

body {
	padding-top: 85px;
	}
	@media (max-width:979px) {
	body {padding-top: 0}
}


div.bikeCart {
	max-height: 32em;
	display: block;
	margin-left: auto;
	margin-right: auto;}

.btn-primary .sendButton{
	background-color: #007bff;
	color: black;
	border-color: #F19837;
}